## Analysis of Titanic Data
Available [kaggle.com](https://www.kaggle.com/c/titanic/data)

In [66]:
import unicodecsv

with open('titanic_data.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    tdata = list(reader)
    
print tdata[0]['Ticket']

A/5 21171

### Fix Data

In [67]:
def parse_ticket(ticket):
    '''Takes a ticket string and returns only the numerical value of the ticket number. The numerical value is always the last
    part of the string.'''
    if ticket == '':
        return None
    else:
        ticket_reverse_split = ticket[::-1].split(' ', 1)
        ticket_num = ticket_reverse_split[0][::-1]
    try:
        return int(ticket_num)
    except:
        return None

def parse_float(number):
    '''Returns number as float. Returns "None" if empty'''
    if number == "":
        return None
    return float(number) 
    
# Clean up data in titanic data table
for data in tdata:
    data['Ticket'] = parse_ticket(data['Ticket'])
    data['Age'] = parse_number(data['Age'])
    data['Fare'] = parse_number(data['Fare'])
    
print tdata[5]

IndentationError: expected an indented block (<ipython-input-67-44cd9b038f61>, line 24)

### Questions:

Although many question *why* the titanic sank, the main question this dataset may help with is **what factors lead to a higher rate of survival for passengers onboard the titanic?**